header {
    background-color: rgb(103, 243, 168);
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding:20px;
}

h1 {
    margin: 20px 0px 20px 0px;
}

#city-search {
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

#search {
    border-radius: 10px;
    width: 100%;
    border-style: solid;
    margin-top: 30px;
    text-align: center;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
}

.search {
    border-radius: 10px;
    width: 100%;
    border-style: solid;
    margin-top: 30px;
    text-align: center;
}
.cities {
    margin-top: 0px;

}

.cards {
    margin: 0px;
    padding: 10px;
}
.current-city {
    margin-top: 20px;
    border-style: solid;
    padding: 30px;
    border-radius: 10px;
}

.stats {
    margin: 0px;
}

.key {
    margin-bottom: 30px;
    margin-top: 30px;
}

.row {
    margin: 0px;
}